
$primary:#f8d226;

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.2;
}

body {

    
}



section {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    p {
        font-size: 1rem;
        opacity: 70%;
    }
    h1 {
        font-size: 4.25rem;
    }
}


.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 523px;
    margin-top: 40px;

    .circle {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 111px;
        width: 111px;
        background-color: $primary;
        border-radius: 50%;
       
    }
}

.seconds , .words, .chars, .accuracy {
    font-size: 3rem;
}

.sentence-container {
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    max-width: 1024px;
    min-height: 140px;
    box-shadow: 1px 1px 20px 1px rgba(51, 51, 51, 0.198);
    
    
 
    .sentence ,.correct {
        
      
        
        transition: 0.3s;

        justify-content: flex-start;
        align-items: center;
        color: #333;
        font-size: 2.3rem;
        width: 100%;
        min-height: 40px;

    }
}

.start {
    
    position: absolute;
    top: 0;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 112px;
    height: 30px;
    transition: 1s;
    background-color: $primary;
    color: #333;
    animation-name: move;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

//Start animation 
@keyframes move {
    0% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}

input {
    border: none;
    outline: none;
    
}

::placeholder {
    margin-right: 100px;
}

.indicator {

    left: 49%;
    right: 50%;
    height: 40px;
    width: 10px;
    background-color: rgba(109, 255, 83, 0.493);
}
.correct{
    position: absolute;
    margin-top: 100px;
}

span {
    
   
}

.custom {
    flex-direction: column;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.808);
    width: 100%;
    height: 100vh;

    textarea , button {
        max-width: 300px;
        width: 100%;
    }
  

}